.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  flex: 0 0 auto;
  background-color: currentColor;
  -webkit-mask: var(--basil-icon) center / contain no-repeat;
  mask: var(--basil-icon) center / contain no-repeat;
}
